/* Google Fonts Link */
@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter.ttf);
}
@font-face {
    font-family: 'Playfair';
    src: url(../assets/fonts/PlayfairDisplay.ttf);
}
@font-face {
    font-family: 'Rozha';
    src: url(../assets/fonts/RozhaOne-Regular.ttf);
}
/* HTML */
body {
    height: 10000px;
}
/* Navbar */
nav {
    background-color: #070707;
    color: #FFFAEC;
    height: 86px;
    font-family: Rozha;
}
.nav-link {
    color: #FFFAEC;
}
.navbar-brand {
    font-family: 'Rozha';
    font-size: 20pt;
}
.nav-icon {
    width: 20px;
}