/* Google Fonts Link */
@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter.ttf);
}
@font-face {
    font-family: 'Playfair';
    src: url(../assets/fonts/PlayfairDisplay.ttf);
}
@font-face {
    font-family: 'Rozha';
    src: url(../assets/fonts/RozhaOne-Regular.ttf);
}
/* HTML */
body {
    position: relative;
    overflow-x: hidden;
    overflow-y: overlay;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #070707;
    width: 100%;
}
/* Scrollbar */
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: #36363675;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #363636;
}
/* Navbar */
.navbar {
    color: #FFFAEC;
    height: 86px;
    font-family: Rozha;
    transition: all 0.5s;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.nav-scrolled {
    background-color: #070707;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.navbar-brand {
    font-family: 'Rozha';
    font-size: 20pt;
}
.nav-link {
    color: #FFFAEC;
    opacity: 0.75;
}
.nav-link:hover {
    opacity: 1;
}
.active {
    opacity: 1;
}
.nav-icon {
    width: 20px;
    stroke: #FFFAEC;
    opacity: 0.80;
    transition: 500ms;
}
.nav-icon:hover {
    opacity: 1;
}
.nav-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.offcanvas.offcanvas-end {
    width: 40%;
    text-align: end;
}
.nav-offcanvas-ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    bottom: 1%;
    list-style: none;
}
.border-bottom-li {
    border-bottom: 1px solid #ffffff11;
}
.nav-offcanvas-li {
    padding-right: 10%;
}
.border-right {
    border-right: 1px solid #ffffff11;
}
.nav-position {
    position: sticky;
    top: 0;
}
@media screen and (max-width: 420px) {
    .offcanvas.offcanvas-end {
        width: 50%;
    }
}
@media screen and (max-width: 991px) {
    .nav-div-brand {
        margin-left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
}
/* Cart */
.container-cart {
    margin-right: 10vw;
}
.shopping-cart {
    display: none;
    margin: 65px 0;
    background: rgba(49, 49, 49, 0.689);
    width: 320px;
    position: fixed;
    float: right;
    border-radius: 4px;
    padding: 20px;
    color: #fff;
    z-index: 10;
    top: 20px;
    right: 10vw;
}
.shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 30px;
}
.shopping-cart-total {
    float: right;
}
.shopping-cart-items {
    padding-top: 20px;
    list-style: none;
}
.shopping-cart-items li {
    margin-bottom: 18px;
}
.shopping-cart-items img {
    float: left;
    margin-right: 12px;
}    
.item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}    
.item-price {
    color: #6394F8;
    margin-right: 8px;
}    
.item-quantity {
    color: #ABB0BE;
}
.shopping-cart:after {
	bottom: 100%;
	left: 35%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: rgba(49, 49, 49, 0.689);
	border-width: 8px;
	margin-left: -8px;
}
.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}
.button {
  background: #6394F8;
  color:white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}
.button:hover {
    background: lighten(#6394F8, 30%);
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.cart-item {
    object-fit: cover;
    width: 60px;
    height: auto;
}
/* Header */
header {
    background: url(../assets/img/noise-overlay-black.png) fixed center #070707;
    width: 100%;
    height: 100svh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.header-container {
    position: relative;
    color: #FFFAEC;
    font-family: Rozha;
    text-align: center;
    top: 44svh;
}
header h1 {
    font-size: 50pt
}
header h2 {
    font-size: 16pt
}
/* Jewelry */
.jewelry-section {
    background-color: #070707;
    width: 100%;
    position: absolute;
    margin-top: 100svh;
    display: flex;
    justify-content: center;
    color: #FFF8E3;
    min-height: 1100px;
}
.jewelry-container-div {
    width: 60%;
    margin-left: 0;
    margin-top: 15svh;
}
.jewelry-container {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(2, auto);
    width: 100%;
    height: 400px;
    gap: 10px;
}
.jewelry-grid-1 {
    background: url(../assets/img/jewelry1.png) no-repeat center;
    background-size: cover;
    grid-area: 1 / 1 / 3 / 6;
}
.jewelry-grid-2 {
    background: url(../assets/img/jewelry2.png) no-repeat center;
    background-size: cover;
    grid-area: 1 / 6 / 1 / 9;
}
.jewelry-grid-3 {
    background: url(../assets/img/jewelry3.png) no-repeat center;
    background-size: cover;
    grid-area: 2 / 6 / 2 / 9;
}
.jewelry-container-text {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 3%;
}
.jewelry-item-text-1 {
    width: 100%;
}
.jewelry-item-text-2 {
    text-align: justify;
    margin-top: 8px;
}
.jewelry-p-text-2 {
    line-height: 1.85;
    opacity: 0.9;
}
@media screen and (max-width: 815px) {
    .jewelry-item-text-1 {
        width: 100%;
        text-justify: auto;
    }
    .jewelry-container-text {
        flex-direction: column;
    }
}
/* Watch */
.watch-section {
    background: url(../assets/img/noise-overlay-white.png) center #070707;
    width: 100%;
    height: 1000px;
    position: absolute;
    margin-top: calc(100svh + 1100px);
    display: flex;
    justify-content: center;
    color: #FFF8E3;
}
.watch-container-div {
    width: 60%;
    margin-right: 0;
    margin-top: -7%;
}
.watch-container {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(3, auto);
    width: 100%;
    height: 350px;
    gap: 10px;
}
.watch-grid-1 {
    background: url(../assets/img/watch1.png) no-repeat center;
    background-size: cover;
    grid-area: 1 / 1 / 3 / 9;
}
.watch-grid-2 {
    background: url(../assets/img/watch2.png) no-repeat center;
    background-size: cover;
    grid-area: 3 / 1 / 3 / 5;
}
.watch-grid-3 {
    background: url(../assets/img/watch3.png) no-repeat center;
    background-size: cover;
    grid-area: 3 / 5 / 3 / 9;
}
.watch-container-watch {
    color: #070707;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 3%;
}
.watch-item-text-2 {
    width: 100%;
}
.watch-item-text-1 {
    text-align: justify;
    margin-top: 8px;
}
.watch-p-text-1 {
    line-height: 1.85;
    opacity: 0.9;
}
.watch-h1-text-2 {
    text-align: right;
}
@media screen and (max-width: 1629px) {
    .watch-item-text-2 {
        width: 140%;
    }
}
@media screen and (max-width: 1106px) {
    .watch-item-text-2 {
        width: 160%;
    }
}
@media screen and (max-width: 1038px) {
    .watch-item-text-2 {
        width: 100%;
    }
    .watch-h1-text-2 {
        text-align: start;
    }
    .watch-container-watch {
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 523px) {
    .watch-p-text-1 {
        line-height: 1.2;
    }
}
/* Text Carousel */
:root {
    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 12);
    --duration: 70s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
}
.link-carousel {
    position: absolute;
    margin-top: calc(100svh + 1600px);
    display: flex;
    width: 100%;
}
.marquee-div {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}
.marquee-group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll-x var(--duration) linear infinite;
}
.marquee-div:hover .marquee-group {
    animation-play-state: paused;
}
@media (prefers-reduced-motion: reduce) {
  .marquee-group {
    animation-play-state: paused;
  }
}
@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}
.marquee-a {
    text-decoration: none;
    color: #070707;
    font-weight: bolder;
    font-family: Rozha;
    font-size: 32pt;
}
.marquee-a:hover {
    color: #1c1c1c;
    text-shadow: 0 0 25px #8a867a;
}
.marquee-icon {
    font-size: 12pt;
    vertical-align: 16px;
    padding-right: 8px;
}
@media screen and (max-width: 1038px) {
    .link-carousel {
        margin-top: calc(100svh + 1650px);
    }
}
@media screen and (max-width: 805px) {
    .link-carousel {
        margin-top: calc(100svh + 1675px);
    }
}
@media screen and (max-width: 641px) {
    .link-carousel {
        margin-top: calc(100svh + 1700px);
    }
}
@media screen and (max-width: 467px) {
    .link-carousel {
        margin-top: calc(100svh + 1725px);
    }
}
@media screen and (max-width: 385px) {
    .link-carousel {
        margin-top: calc(100svh + 1750px);
    }
}
@media screen and (max-width: 369px) {
    .link-carousel {
        margin-top: calc(100svh + 1800px);
    }
}
/* Footer */
.footer-section {
    background-color: #0F0F0F;
    min-height: 336px;
    width: 100%;
    position: absolute;
    margin-top: calc(100svh + 1800px);
    padding-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF8E3;
}
.footer-container {
    display: flex;
}
.footer-div {
    width: 21vw;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.footer-ul {
    list-style: none;
    margin-top: 12px;
    padding-left: 0;
}
.footer-li {
    margin-top: 2px;
}
.footer-span {
    opacity: 75%;
}
.footer-a {
    text-decoration: none;
}
.footer-p {
    text-align: justify;
    margin-top: 12px;
}
.footer-dropdown {
    background-color: transparent;
}
.footer-dropdown-btt {
    color: #FFF8E3;
    opacity: 0.75;
    padding: 0;
    margin-top: -4px;
}
.footer-backtop-a {
    background-color: #151515;
    width: 100vw;
    height: 64px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
}
.footer-backtop-icon {
    color: #FFF8E3;
}
@media screen and (max-width: 815px) {
    .footer-container {
        margin-top: 12px;
        margin-bottom: 12px;
        display: grid;
        grid-template-columns: repeat(2, 40vw);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
    }
}
@media screen and (max-width: 561px) {
    .footer-section {
        margin-top: calc(110svh + 1825px);
    }
}
/* Viewport Anim */
[data-inviewport="fade-in"] {
    transition: 1.5s;
    opacity: 0;
}
[data-inviewport="fade-in"].is-inViewport {
    opacity: 1;
}
[data-inviewport="fade-in-left"] {
    transition: 1.5s;
    margin-right: -40vw;
    opacity: 0;
}
[data-inviewport="fade-in-left"].is-inViewport {
    margin-right: 0px;
    opacity: 1;
}
[data-inviewport="fade-in-right"] {
    transition: 1.5s;
    margin-left: -40vw;
    opacity: 0;
}
[data-inviewport="fade-in-right"].is-inViewport {
    margin-left: 0px;
    opacity: 1;
}
/* Jewelry */
.nav-dark-theme {
    background-color: #070707;
}
.shop-section {
    width: 90%;
    display: flex;
    margin: 0 auto;
}
.shop-section-div {
    margin: 0 auto;
}
.carousel-item {
    height: 600px;
}
.carousel-img {
    height: 100%;
    display: block;
    margin: 0 auto;
    width: 90vw;
}
.carousel-inner {
    border-radius: 16px;
}
.card-div-item {
    height: 420px;
}
/* Watch */






/* About */
.about-section {
    position: absolute;
    margin-top: 100px;
    opacity: 1;
    color: #fff;
}
.about-text {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.about-section {
    text-align: center;
}
.about-section p {
    text-align: center;
}
.textarea-div{
    display: flex;
    flex-direction: column;
}
.textarea-input {
    width: 30%;
    margin: 0 auto;
}
.footer-relative {
    position: absolute;
    bottom: -400px;
}